@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}

.article__layout {
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-right: 20px;
  margin-right: 1.25rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-bottom: 101px;
  margin-bottom: 6.3125rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .article__layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 7.4375rem;
    margin-left: 7.4375rem;
    margin-bottom: 9.375rem;
  }
}

.article__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article__items-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .article__items-layout {
    margin: 0;
  }
}

.article__items time {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  color: #ffffff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.article__category {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4285;
  color: #ffffff;
  border: 1px solid #fff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.article__category-layout {
  width: 99px;
  width: 6.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  margin-left: 2rem;
  padding: 6px 0;
  padding: 0.375rem 0;
}
@media screen and (min-width: 768px) {
  .article__category-layout {
    margin-left: 3rem;
  }
}

.article__text {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  color: #ffffff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.article__text-layout {
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .article__text-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-left: 3.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .article__text-layout p {
    display: inline;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: linear-gradient(90deg, #fff, #fff);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0 1px;
    -webkit-transition: background-size 0.75s;
    transition: background-size 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .article__text-layout p:hover {
    background-size: 100% 1px;
    -webkit-transition: background-size 0.75s;
    transition: background-size 0.75s;
  }
}

.article__btn {
  background-color: #333;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .article__btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4375;
  }
}

.article__btn-layout {
  display: block;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .article__btn-layout {
    max-width: 8.375rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3rem;
    margin-right: 0rem;
  }
}

.article__btn-layout span {
  display: block;
  position: relative;
  color: #fff;
  z-index: 5;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 10px 0;
  padding: 0.625rem 0;
}
@media screen and (min-width: 768px) {
  .article__btn-layout span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.article__btn-layout span:hover {
  position: relative;
  color: #333;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.article__btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.article__btn:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.blog__title {
  display: block;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .blog__title {
    font-size: 1.875rem;
    letter-spacing: 0.03125rem;
    line-height: 0.533;
  }
}

.blog__title::before {
  content: "Blog";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
  position: absolute;
  top: -44px;
  top: -2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .blog__title::before {
    font-size: 6.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.436;
    top: -380%;
    -webkit-transform: translateX(133%);
            transform: translateX(133%);
  }
}

.blog__title-layout {
  margin-bottom: 72px;
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 768px) {
  .blog__title-layout {
    margin-bottom: 3.0625rem;
  }
}

.blog__layout {
  padding: 0 20px;
  padding: 0 1.25rem;
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .blog__layout {
    padding-top: 4.8125rem;
    margin-bottom: 9.375rem;
  }
}

.blog__col3 > .card__layout:nth-of-type(3) {
  margin-bottom: 0px;
  margin-bottom: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
}
.blog__col3-layout {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .blog__col3-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3rem;
  }
}

.breadcrumb {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  line-height: 1.1875;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  margin: 0 1.25rem;
  margin-bottom: 85px;
  margin-bottom: 5.3125rem;
}
.breadcrumb li {
  margin-left: 5px;
  margin-left: 0.3125rem;
}
.breadcrumb li:first-child {
  margin-left: 0;
}

.breadcrumb li::after {
  content: ">";
  display: inline-block;
  margin-left: 5px;
  margin-left: 0.3125rem;
}
.breadcrumb li:last-child::after {
  content: "";
  display: inline-block;
}

.btn {
  background-color: #333;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  margin: 0 auto;
}
.btn__layout {
  display: block;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.btn__layout span {
  display: block;
  position: relative;
  color: #fff;
  z-index: 5;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 10px 0;
  padding: 0.625rem 0;
}
.btn__layout span:hover {
  position: relative;
  color: #333;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.btn:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__body {
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 23px;
  padding-left: 1.4375rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
}
.card__category-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-left: 23px;
  padding-left: 1.4375rem;
}
.card__category-date time {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__category {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #000000;
  background: #ffea2e;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__img-wrapper {
  padding-top: 66.567%;
  position: relative;
  overflow: hidden;
}
.card__img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__text {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.944;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333333;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card {
  display: block;
  background-color: #fff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__layout {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .card__layout {
    margin: 0;
    margin-right: 1.5625rem;
    width: 21.875rem;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

.card__badge {
  position: relative;
}
.card__badge::after {
  content: "";
  position: absolute;
  z-index: 1;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
  width: 0;
  height: 0;
  border-width: 30px 30px 30px 30px;
  border-width: 1.875rem 1.875rem 1.875rem 1.875rem;
  border-style: solid;
  border-color: #ffba6a #ffba6a #ffba6a #ffba6a;
  border-radius: 50%;
}
.card__badge-text {
  position: absolute;
  z-index: 15;
  -webkit-transform: translate(-13%, -13%);
          transform: translate(-13%, -13%);
  color: #333;
}
@media screen and (min-width: 768px) {
  .card__layout:hover {
    background: #333;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .card__layout:hover .card__title,
.card__layout:hover .card__text,
.card__layout:hover .card__category-date time {
    color: #fff;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .card__layout:hover .card__img-wrapper img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

.category__blog-all {
  display: inline-block;
  width: 48px;
  width: 3rem;
  color: #333;
  position: relative;
}
.category__blog-all::before {
  content: "";
  display: block;
  padding-top: 62.5%;
  background: rgb(255, 255, 255);
}

.category__blog-all span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
}

.category__blog-layout {
  display: inline-block;
}
.category__blog-layout li {
  display: inline-block;
  margin-right: 20px;
  margin-right: 1.25rem;
}
.category__blog-layout li:last-child {
  margin-right: 0px;
  margin-right: 0rem;
}

.category__blog-layout ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0px;
  font-size: 0rem;
  line-height: 0;
}

.category {
  margin: 0 20px;
  margin: 0 1.25rem;
  margin-bottom: 17px;
  margin-bottom: 1.0625rem;
}
.category a {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
  color: #ffffff;
}
.contact {
  background: #3d3d3d;
}
.contact__layout {
  padding: 0 20px;
  padding: 0 1.25rem;
  padding-top: 67px;
  padding-top: 4.1875rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .contact__layout {
    padding: 9.25rem 1.25rem;
    margin-bottom: 2rem;
  }
}

.contact__title {
  display: block;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
  font-size: 30px;
  font-size: 1.875rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.166;
}
.contact__title::before {
  content: "Contact";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
  position: absolute;
  top: -44px;
  top: -2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .contact__title::before {
    font-size: 6.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.436;
    top: -5.125rem;
    -webkit-transform: translate(-133%);
            transform: translate(-133%);
  }
}

.contact__title-layout {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .contact__title-layout {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__text-layout {
    margin-bottom: 3.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__text-layout p {
    text-align: center;
  }
}

.content__title {
  display: block;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 1.875rem;
    line-height: 1.1666;
  }
}

.content__title::before {
  content: "Content";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
  position: absolute;
  top: -44px;
  top: -2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .content__title::before {
    font-size: 6.875rem;
    line-height: 1.4363;
    top: -2.1875rem;
    -webkit-transform: translateX(-128%);
            transform: translateX(-128%);
  }
}

.content__title-layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.content__item {
  background: #f00;
}
.content__item-col2 > .content__img-wrapper {
  width: 50%;
  padding-top: 44.68%;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .content__item-col2 > .content__img-wrapper {
    width: 25%;
    padding-top: 22.34%;
  }
}

.content__img-wrapper img,
.content__img-wrapper h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content__item-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__layout {
  margin-bottom: 71px;
  margin-bottom: 4.4375rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .content__layout {
    margin-bottom: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .content__img-wrapper::after {
    content: "";
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 100%;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .content__img-wrapper:hover:after {
    background: rgba(255, 255, 255, .6);
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

.contents-box__title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contents-box__title {
    font-size: 1.5625rem;
    letter-spacing: 0.03125rem;
    line-height: 0.64;
    text-align: left;
    margin-bottom: 3rem;
  }
}

.contents-box__text {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: remm(16);
  font-size: remm(16);
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contents-box__text {
    font-size: 1rem;
    letter-spacing: 0.03125rem;
    line-height: 2.1875;
    margin-bottom: 3.1875rem;
  }
}

.contents-box__text-layout {
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .contents-box__text-layout {
    text-align: left;
  }
}

.contents-box__layout {
  padding: 0 20px;
  padding: 0 1.25rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .contents-box__layout {
    width: 31.875rem;
  }
}

.contents-box {
  background: #333;
}
@media screen and (min-width: 768px) {
  .contents-box {
    background: transparent;
  }
}

.footer__layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .footer__layout {
    margin-bottom: 1.625rem;
  }
}

.footer__navi {
  display: block;
}
.footer__navi-list {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 1.2px;
  letter-spacing: 0.075rem;
  color: #ffffff;
  padding: 4px 0;
  padding: 0.25rem 0;
}
@media screen and (min-width: 768px) {
  .footer__navi-list {
    margin: 0 1rem;
  }
}

.footer__navi-list a {
  display: block;
  width: 100%;
  text-align: center;
}
.footer__navi-list img {
  width: 70px;
  width: 4.375rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__navi-list-space {
    margin-left: auto;
  }
}

.footer__navi-layout {
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__navi-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2rem;
    margin-bottom: 4.0625rem;
  }
}

.footer__copyright {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.4545;
  letter-spacing: 1.2px;
  letter-spacing: 0.075rem;
  color: #ffffff;
  text-align: center;
}
.header__drawer {
  width: 24px;
  width: 1.5rem;
  height: inherit;
  padding: 0px;
  padding: 0rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media screen and (min-width: 768px) {
  .header__drawer {
    display: none;
  }
}

.header__drawer span {
  display: block;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: rgb(255, 255, 255);
  position: relative;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu__open span {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.header__drawer span::before {
  content: "";
  display: inherit;
  width: inherit;
  height: inherit;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -6.48px;
  top: -0.405rem;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu__open span::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.header__drawer span::after {
  content: "";
  display: inherit;
  width: inherit;
  height: inherit;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 6.48px;
  top: 0.405rem;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu__open span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.sp-navi {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  background: rgb(17, 17, 17);
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.sp-navi__open {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(17, 17, 17, .5);
  padding: 0 22px;
  padding: 0 1.375rem;
}
.pc-navi {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-navi {
    display: block;
    height: 100%;
  }
}

.pc-navi__layout {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .pc-navi__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-layout {
    margin: 0 1rem;
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-layout::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(255, 234, 46);
    position: absolute;
    bottom: 15%;
    left: -100%;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-layout:hover:after {
    left: 0;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__items > .pc-navi__item-layout:nth-of-type(7) {
    margin-right: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-query {
    color: #333;
    background: #fff;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-query:hover {
    color: #fff;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-query::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(51, 51, 51);
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-query a {
    padding: 0 2rem;
    position: relative;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) {
  .pc-navi__item-query:hover::after {
    left: 0;
    -webkit-transition: 0.75s;
    transition: 0.75s;
  }
}

.header-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  height: 3.125rem;
  z-index: 15;
}

.header-mv__blog-layout {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.header-mv__wrap {
  position: relative;
}
@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img1,
.swiper-slide-duplicate-active .slide-img1,
.swiper-slide-prev .slide-img1 {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img1 img {
  display: block;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-mv__shadow {
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header-mv__text-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  z-index: 5;
  text-align: center;
}
.header-mv__text-wrap-layout {
  padding: 0 15px;
  padding: 0 0.9375rem;
}
.header-mv__title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  color: #ffffff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.header-mv__title-layout {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.header-mv__sub-title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  color: #ffffff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.line {
  position: relative;
}
.line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 13%;
  left: 0;
  -webkit-transform: skewY(60deg);
          transform: skewY(60deg);
  background: rgb(249, 248, 113);
}
@media screen and (min-width: 768px) {
  .line::before {
    top: 18%;
    -webkit-transform: skewY(43deg);
            transform: skewY(43deg);
  }
}

.line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 65%;
  -webkit-transform: skewY(-72deg);
          transform: skewY(-72deg);
  background: rgb(249, 248, 113);
}
@media screen and (min-width: 768px) {
  .line::after {
    bottom: 50%;
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
  }
}

.logo {
  width: 70px;
  width: 4.375rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 5.875rem;
  }
}

.markerUnder {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(97%, transparent), color-stop(0%, #f2cf39));
  background: linear-gradient(transparent 97%, #f2cf39 0%);
  display: inline;
  padding-bottom: 2px;
}

.overview__title {
  display: block;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .overview__title {
    font-size: 1.875rem;
    letter-spacing: 0.03125rem;
    line-height: 0.53;
  }
}

.overview__title::before {
  content: "Overview";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
  position: absolute;
  top: -44px;
  top: -2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .overview__title::before {
    font-size: 6.875rem;
    line-height: 1.4363;
    top: -55px;
    -webkit-transform: translate(-110%);
            transform: translate(-110%);
  }
}

.overview__title-layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.overview__layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .overview__layout {
    margin-bottom: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .overview__wrap {
    width: 34.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .overview__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5.0625rem 0;
    background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(30%, transparent), color-stop(3%, #333), to(#333));
    background: linear-gradient(to left, transparent 0%, transparent 30%, #333 3%, #333 100%);
    padding: 5.0625rem 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .overview__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-right: 2.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .overview-btn {
    font-size: 1rem;
    line-height: 3.375;
  }
}

@media screen and (min-width: 768px) {
  .overview-btn span {
    padding: 0;
  }
}

.sp-navi__item a {
  display: inherit;
  width: inherit;
  padding: 16px 0;
  padding: 1rem 0;
}
.sp-navi__items {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 209px;
  padding-top: 13.0625rem;
  padding: 209px 0;
  padding: 13.0625rem 0;
  overflow: scroll;
}

.top-btn {
  display: none;
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  background: #ffffff;
  position: relative;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  margin-right: 32px;
  margin-right: 2rem;
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
}
.top-btn::before {
  content: "";
  display: block;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-20%, -50%) rotate(45deg);
          transform: translate(-20%, -50%) rotate(45deg);
}

.top-btn::after {
  content: "";
  display: block;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-87%, -50%) rotate(-45deg);
          transform: translate(-87%, -50%) rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .works__contents-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.125rem 1.25rem;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
    background: linear-gradient(to right, transparent 0%, transparent 30%, #333 30%, #333 100%);
  }
}

.works__title {
  display: block;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__title {
    font-size: 1.875rem;
    letter-spacing: 0.03125rem;
    line-height: 0.533;
  }
}

.works__title::before {
  content: "Works";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
  position: absolute;
  top: -44px;
  top: -2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .works__title::before {
    font-size: 6.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.436;
    top: -3.3125rem;
    left: 50%;
    -webkit-transform: translateX(55%);
            transform: translateX(55%);
  }
}

.works__title-layout {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.slide-img2 {
  padding-top: 69.6%;
  position: relative;
}
.slide-img2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slide-img_blog {
  padding-top: 113.3%;
  position: relative;
}
.slide-img_blog::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 113.3%;
  background: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slide-img_blog img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-45%, -50%) scale(1.39);
          transform: translate(-45%, -50%) scale(1.39);
}
@media screen and (min-width: 768px) {
  .works__wrap {
    width: 34.8125rem;
  }
}

.swiper-pagination2 {
  text-align: center;
}

.swiper-pagination-bullet {
  background: #f9f871;
  margin: 0 5px;
  margin: 0 0.3125rem;
}

.works__layout {
  margin-bottom: 72px;
  margin-bottom: 4.5rem;
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .works__layout {
    padding-top: 3.9375rem;
    margin-bottom: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .works__contents-box-layout {
    width: 31.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: transparent;
    padding: 0;
    margin-left: 2rem;
  }
}

.works-btn__layout {
  display: block;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .works-btn__layout {
    font-size: 1rem;
    letter-spacing: 0.125rem;
    line-height: 3.375;
    margin: 0;
  }
}

.works-btn__layout span {
  display: block;
  position: relative;
  color: #fff;
  z-index: 5;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 10px 0;
  padding: 0.625rem 0;
}
@media screen and (min-width: 768px) {
  .works-btn__layout span {
    padding: 0;
  }
}

.works-btn__layout span:hover {
  position: relative;
  color: #333;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.works-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.works-btn:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media screen and (min-width: 768px) {
  .works-contents-box__title-layout {
    font-size: 1.5625rem;
    letter-spacing: 0.03125rem;
    line-height: 0.64;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .works-contents-box__text-layout {
    font-size: 1rem;
    letter-spacing: 0.03125rem;
    line-height: 2.1875;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */
