@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  background-color: #111;
  color: #fff;
}

.btn {
  display: none;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  background-color: #333;
  padding: 10px 0px;
  padding: 0.625rem 0rem;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  margin: 0 auto;
}
.card__body {
  padding-top: 4px;
  padding-top: 0.25rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 23px;
  padding-left: 1.4375rem;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
}
.card__category-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 23px;
  padding-right: 1.4375rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
  padding-left: 23px;
  padding-left: 1.4375rem;
}
.card__category-date time {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__category {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #000000;
  background: #ffea2e;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__img-wrapper {
  padding-top: 66.567%;
  position: relative;
}
.card__img-wrapper img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.card__text {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.857;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333333;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card__title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.944;
  letter-spacing: 1px;
  letter-spacing: 0.0625rem;
  color: #333333;
  margin-bottom: 4px;
  margin-bottom: 0.25rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.card {
  display: none;
  background-color: #fff;
}
.content-title {
  display: none;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  position: relative;
}
.content-title::before {
  content: "Content";
  display: block;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.44;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: rgba(249, 248, 113, .2);
  position: absolute;
  top: -44px;
  top: -2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.content-img__wrapper {
  display: block;
  padding-top: 89.36%;
  position: relative;
}
.content-img__wrapper img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translatey(-50%) scale(1);
          transform: translatey(-50%) scale(1);
}
.content-text {
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.45;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header__drawer {
  width: 24px;
  width: 1.5rem;
  height: inherit;
  padding: 0px;
  padding: 0rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.header__drawer span {
  display: block;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background: rgb(255, 255, 255);
  position: relative;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu__open span {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.header__drawer span::before {
  content: "";
  display: inherit;
  width: inherit;
  height: inherit;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -6.48px;
  top: -0.405rem;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu__open span::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.header__drawer span::after {
  content: "";
  display: inherit;
  width: inherit;
  height: inherit;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 6.48px;
  top: 0.405rem;
  left: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.js-drawer-menu__open span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.sp-navi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  background: rgb(17, 17, 17);
  width: 100%;
  height: 100vh;
  z-index: 5;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
.sp-navi__open {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(17, 17, 17, .5);
  padding: 0 22px;
  padding: 0 1.375rem;
}
.header-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  height: 3.125rem;
  z-index: 10;
}

.header-mv__wrap {
  position: relative;
}
@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
  display: block;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-mv__shadow {
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header-mv__text-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  z-index: 15;
  text-align: center;
}
.header-mv__text-wrap-layout {
  padding: 0 15px;
  padding: 0 0.9375rem;
}
.header-mv__title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  color: #ffffff;
}
.header-mv__title-layout {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.header-mv__sub-title {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.5px;
  letter-spacing: 0.03125rem;
  color: #ffffff;
}
.logo {
  width: 70px;
  width: 4.375rem;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 5.875rem;
  }
}

.sp-navi__item a {
  display: inherit;
  width: inherit;
  padding: 16px 0;
  padding: 1rem 0;
}
.sp-navi__items {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 209px;
  padding-top: 13.0625rem;
  padding: 209px 0;
  padding: 13.0625rem 0;
  overflow: scroll;
}
/*# sourceMappingURL=styles.css.map */
