@use "global" as *;
.article {
  @include mq(md) {
  }
}

.article__layout {
  margin-top: rem(24);
  margin-right: rem(20);
  margin-left: rem(20);
  margin-bottom: rem(101);
  @include mq(md) {
    display: flex;
  }
}

.article__items {
  display: flex;
  @include mq(md) {
  }
}

.article__items-layout {
  display: flex;
  align-items: center;
  margin-bottom: rem(16);
  @include mq(md) {
    margin: 0;
  }
}

.article__items time {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 1.4375;
  color: #ffffff;
  transition: $slow;
  @include mq(md) {
  }
}

.article__category {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(14);
  line-height: 1.4285;
  color: #ffffff;
  border: 1px solid #fff;
  transition: $slow;
  @include mq(md) {
  }
}

.article__category-layout {
  padding: rem(5.5) rem(21.5);
  margin-left: rem(32);
  @include mq(md) {
    margin-left: rem(48);
    width: 100%;
  }
}

.article__text {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 1.4375;
  color: #ffffff;
  transition: $slow;
  @include mq(md) {
  }
}

.article__text-layout {
  margin-bottom: rem(28);
  @include mq(md) {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: rem(61);
    // width: calc(100% / 2);
    width: 100%;
  }
}

.article__btn {
  background-color: #333;
  text-align: center;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1.45;
  letter-spacing: rem(2);
  margin: 0 auto;
  // border: 1px solid #fff;
  @include mq(md) {
    font-weight: $normal500;
    font-size: rem(16);
    line-height: 1.4375;
  }
}

.article__btn-layout {
  display: block;
  max-width: rem(335);
  width: 100%;
  overflow: hidden;
  position: relative;
  @include mq(md) {
    max-width: rem(134);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: rem(48);
    margin-right: rem(0);
  }
}

.article__btn-layout span {
  display: block;
  position: relative;
  color: #fff;
  z-index: 5;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: rem(10) 0;
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.article__btn-layout span:hover {
  position: relative;
  color: #333;
  z-index: 99;
  width: 100%;
  height: 100%;
  @include mq(md) {
  }
}

.article__btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: $slow;
  @include mq(md) {
  }
}

.article__btn:hover::after {
  transform: translateX(0%);
  transition: $slow;
  @include mq(md) {
  }
}
