@use "global" as *;
.card {
  display: block;
  background-color: #fff;
  transition: $slow;
  @include mq(md) {
  }
}

.card__layout {
  margin-bottom: rem(24);
  @include mq(md) {
    margin: 0;
    margin-right: rem(25);
    margin-bottom: rem(48);
    // width: rem(350);
    width: calc(100% / 3.5);
    transition: $slow;
  }
}

.card__badge {
  position: relative;
  @include mq(md) {
  }
}

.card__badge::after {
  content: "";
  position: absolute;
  z-index: 1;
  transform: translate(-30%, -30%);
  width: 0;
  height: 0;
  border-width: rem(30) rem(30) rem(30) rem(30);
  border-style: solid;
  border-color: #ffba6a #ffba6a #ffba6a #ffba6a;
  border-radius: 50%;
  @include mq(md) {
  }
}

.card__badge-text {
  position: absolute;
  z-index: 15;
  transform: translate(-13%, -13%);
  color: #333;
  @include mq(md) {
  }
}

// hover対応
.card__layout:hover {
  @include mq(md) {
    background: #333;
    transition: $slow;
  }
}

.card__layout:hover .card__title,
.card__layout:hover .card__text,
.card__layout:hover .card__category-date time {
  @include mq(md) {
    color: #fff;
    transition: $slow;
  }
}

.card__layout:hover .card__img-wrapper img {
  @include mq(md) {
    transform: scale(1.1);
    transition: $slow;
  }
}
