@use "global" as *;
.category__blog-all {
  width: rem(48);
  position: relative;
  @include mq(md) {
  }
}

.category__blog-all::before {
  content: "";
  display: block;
  padding-top: 62.5%;
  // background: #f00;
  @include mq(md) {
  }
}

.category__blog-all-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  @include mq(md) {
  }
}

.category__blog-size0 {
  background: #fff;
  color: #333;
  @include mq(md) {
  }
}

.category__blog-size1 {
  width: rem(90);
  @include mq(md) {
  }
}

.category__blog-size1::before {
  content: "";
  display: block;
  padding-top: 33.33%;
  @include mq(md) {
  }
}

.category__blog-size2 {
  width: rem(144);
  @include mq(md) {
  }
}

.category__blog-size2::before {
  content: "";
  display: block;
  padding-top: 20.83%;
  @include mq(md) {
  }
}

.category__blog-size3 {
  width: rem(36);
  @include mq(md) {
  }
}

.category__blog-size3::before {
  content: "";
  display: block;
  padding-top: 83.33%;
  @include mq(md) {
  }
}
