@use "global" as *;
.category__blog-layout {
  display: inline-block;
  @include mq(md) {
  }
}

.category__blog-layout li {
  display: inline-block;
  margin-right: rem(20);
  @include mq(md) {
  }
}

.category__blog-layout li:last-child {
  margin-right: rem(0);
}

.category__blog-layout ul {
  display: flex;
  align-items: center;
  font-size: rem(0);
  line-height: 0;
}
