@use "global" as *;
.category__blog-all {
  display: inline-block;
  width: rem(48);
  // text-align: center;
  // background: rgba(255, 255, 255, 1);
  color: #333;
  position: relative;
  @include mq(md) {
  }
}

.category__blog-all::before {
  content: "";
  display: block;
  padding-top: 62.5%;
  background: rgba(255, 255, 255, 1);
}

.category__blog-all span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
}
