@use "global" as *;
.category__blog-layout {
  // display: inline-block;
  display: block;
  max-width: rem(1139);
  // width: 100%;
  margin: 0 auto;
  margin-bottom: rem(37);
  padding: 0 rem(20);
  @include mq(md) {
  }
}

.category__blog-layout li {
  display: inline-block;
  margin-right: rem(15);
  // margin-left: rem(20);
  @include mq(md) {
  }
}

.category__blog-layout li:last-child {
  margin-right: rem(0);
  // margin-left: rem(0);
}

.category__blog-layout ul {
  display: flex;
  align-items: center;
  font-size: 0;
  line-height: 0;
}
