@use "global" as *;
.content__item.content__item-col2 {
  display: none;
}

.content__item {
  background: #f00;
  @include mq(md) {
  }
}

.content__item-col2 > .content__img-wrapper {
  width: calc(100% / 2);
  padding-top: calc(89.36% / 2);
  position: relative;
  @include mq(md) {
  }
}

.content__img-wrapper img,
.content__img-wrapper h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
  }
}

.content__item-col2 {
  display: flex;
  flex-wrap: wrap;
}
