@use "global" as *;
.contents-box__title {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  letter-spacing: rem(2);
  line-height: 1.45;
  color: #ffffff;
  text-align: center;
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: rem(0.5);
    line-height: 0.64;
    text-align: left;
    margin-bottom: rem(48);
  }
}

.contents-box__text {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: remm(16);
  letter-spacing: rem(2);
  line-height: 1.4375;
  color: #ffffff;
  @include mq(md) {
    font-size: rem(16);
    letter-spacing: rem(0.5);
    line-height: 2.1875;
    margin-bottom: rem(51);
  }
}

.contents-box__text-layout {
  margin-bottom: rem(40);
  @include mq(md) {
    text-align: left;
  }
}

.contents-box__layout {
  padding: 0 rem(20);
  padding-bottom: rem(16);
  @include mq(md) {
    width: rem(510);
  }
}

.contents-box {
  background: #333;
  @include mq(md) {
    background: transparent;
  }
}

.contents-box__inner {
  @include mq(md) {
  }
}
