@use "global" as *;
.content {
  @include mq(md) {
  }
}

.content__title {
  display: block;
  text-align: center;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1.45;
  letter-spacing: rem(2);
  position: relative;
  @include mq(md) {
    font-size: rem(30);
    line-height: 1.1666;
  }
}

.content__title::before {
  content: "Content";
  display: block;
  font-family: $second-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(50);
  line-height: 1.44;
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  position: absolute;
  top: rem(-44);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
    font-size: rem(110);
    line-height: 1.4363;
    top: rem(-35);
    transform: translateX(-128%);
  }
}

.content__title-layout {
  margin-bottom: rem(48);
  @include mq(md) {
  }
}

.content__item {
  background: #f00;
  @include mq(md) {
  }
}

.content__item-col2 > .content__img-wrapper {
  width: calc(100% / 2);
  padding-top: calc(89.36% / 2);
  position: relative;
  overflow: hidden;
  @include mq(md) {
    width: calc(100% / 4);
    padding-top: calc(89.36% / 4);
  }
}

.content__img-wrapper img,
.content__img-wrapper h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
  }
}

.content__item-col2 {
  display: flex;
  flex-wrap: wrap;
}

.content__layout {
  margin-bottom: rem(71);
  position: relative;
  z-index: 5;
  @include mq(md) {
    max-width: rem(1280);
    width: 100%;
    margin: 0 auto;
    margin-bottom: rem(150);
  }
}

.content__img-wrapper::after {
  @include mq(md) {
    content: "";
    display: block;
    color: #fff;
    position: absolute;
    // z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 100%;
    background: rgba(255, 255, 255, 0);
    transition: $slow;
  }
}

.content__img-wrapper:hover:after {
  @include mq(md) {
    background: rgba(255, 255, 255, 0.6);
    transition: $slow;
  }
}
