@use "global" as *;
.contact {
  background: #3d3d3d;
  @include mq(md) {
  }
}

.contact__layout {
  padding: 0 rem(20);
  padding-top: rem(67);
  padding-bottom: rem(64);
  margin-bottom: rem(48);
  position: relative;
  z-index: 5;
  @include mq(md) {
    padding: rem(148) rem(20);
    margin-bottom: rem(32);
  }
}

.contact__title {
  display: block;
  text-align: center;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1.45;
  letter-spacing: rem(2);
  position: relative;
  @include mq(md) {
  }
  font-size: rem(30);
  letter-spacing: rem(2);
  line-height: 1.166;
}

.contact__title::before {
  content: "Contact";
  display: block;
  font-family: $second-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(50);
  line-height: 1.44;
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  position: absolute;
  top: rem(-44);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
    font-size: rem(110);
    letter-spacing: rem(2);
    line-height: 1.436;
    top: rem(-82);
    transform: translate(-133%);
  }
}

.contact__title-layout {
  margin-bottom: rem(20);
  @include mq(md) {
    margin-bottom: rem(24);
  }
}

.contact__text-layout {
  @include mq(md) {
    margin-bottom: rem(61);
  }
}

.contact__text-layout p {
  @include mq(md) {
    text-align: center;
  }
}
