@use "global" as *;
.footer {
  @include mq(md) {
  }
}

.footer__layout {
  margin-bottom: rem(48);
  @include mq(md) {
  }
}

.footer__navi {
  display: block;
  @include mq(md) {
  }
}

.footer__navi-list {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(16);
  line-height: 1.4375;
  letter-spacing: rem(1.2);
  color: #ffffff;
  padding: rem(4) 0;
  @include mq(md) {
  }
}

.footer__navi-list a {
  display: block;
  width: 100%;
  text-align: center;
  @include mq(md) {
  }
}

.footer__navi-list img {
  width: rem(70);
  margin: 0 auto;
  @include mq(md) {
  }
}

.footer__navi-layout {
  margin-top: rem(48);
  margin-bottom: rem(32);
  @include mq(md) {
  }
}

.footer__copyright {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(11);
  line-height: 1.4545;
  letter-spacing: rem(1.2);
  color: #ffffff;
  text-align: center;
  @include mq(md) {
  }
}
