@use "global" as *;
.header {
  @include mq(md) {
  }
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(17, 17, 17, 0.5);
  padding: 0 rem(22);
  @include mq(md) {
  }
}

.pc-navi {
  display: none;
  @include mq(md) {
    display: block;
    height: 100%;
  }
}

.pc-navi__layout {
  margin-left: auto;
  @include mq(md) {
  }
}

.pc-navi__items {
  @include mq(md) {
    display: flex;
    height: inherit;
  }
}

.pc-navi__item-layout {
  @include mq(md) {
    margin: 0 rem(16);
  }
}

.pc-navi__items > .pc-navi__item-layout:nth-of-type(7) {
  @include mq(md) {
    margin-right: rem(0);
  }
}

.pc-navi__item {
  @include mq(md) {
  }
}

.pc-navi__item {
  @include mq(md) {
    width: auto;
  }
}

.pc-navi__item a {
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.pc-navi__item-query {
  @include mq(md) {
    color: #333;
    background: #fff;
    padding: 0 rem(32);
  }
}
