@use "global" as *;
.overview__title {
  display: block;
  text-align: center;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1.45;
  letter-spacing: rem(2);
  position: relative;
  @include mq(md) {
  }
}

.overview__title::before {
  content: "Overview";
  display: block;
  font-family: $second-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(50);
  line-height: 1.44;
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  position: absolute;
  top: rem(-44);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
  }
}

.overview__title-layout {
  margin-bottom: rem(48);
  @include mq(md) {
  }
}

.overview__layout {
  margin-bottom: rem(48);
  @include mq(md) {
  }
}

.overview__wrap {
  @include mq(md) {
    width: rem(557);
  }
}

.overview__wrapper {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    padding: rem(81) 0;
    background: linear-gradient(#333);
  }
}

.overview__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
