@use "global" as *;
.overview__title {
  display: block;
  text-align: center;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1.45;
  letter-spacing: rem(2);
  position: relative;
  @include mq(md) {
    font-size: rem(30);
    letter-spacing: rem(0.5);
    line-height: 0.53;
  }
}

.overview__title::before {
  content: "Overview";
  display: block;
  font-family: $second-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: rem(50);
  line-height: 1.44;
  letter-spacing: rem(2);
  color: rgba(249, 248, 113, 0.2);
  position: absolute;
  top: rem(-44);
  left: 50%;
  transform: translateX(-50%);
  @include mq(md) {
    font-size: rem(110);
    line-height: 1.4363;
    top: -55px;
    transform: translate(-110%);
  }
}

.overview__title-layout {
  margin-bottom: rem(48);
  @include mq(md) {
  }
}

.overview__layout {
  margin-bottom: rem(48);
  position: relative;
  z-index: 5;
  @include mq(md) {
    margin-bottom: rem(150);
  }
}

.overview__wrap {
  @include mq(md) {
    width: rem(557);
  }
}

.overview__wrapper {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: rem(81) 0;
    background: linear-gradient(
      to left,
      transparent 0%,
      transparent 30%,
      #333 3%,
      #333 100%
    );
    // margin: 0 rem(20);
    padding: rem(81) rem(20);
  }
}

.overview__items {
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: rem(33);
  }
}

.overview-btn {
  @include mq(md) {
    font-size: rem(16);
    line-height: 3.375;
  }
}

.overview-btn span {
  @include mq(md) {
    padding: 0;
  }
}

.overview__items-wrapper {
  @include mq(md) {
    // margin-left: rem(20);
  }
}
