@use "global" as *;
.works__contents-wrapper {
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 rem(20);
    padding: rem(50) 0;
    // background: rgba(51, 51, 51, 1);
    // background: linear-gradient(to right, rgba(51, 51, 51, 1));
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent 30%,
      #333 30%,
      #333 100%
    );
  }
}
